# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Logs
logs/*.txt
logs/*.log
*.log

# Telethon sessions
sessions/*.session
sessions/*.session-journal

# Uploads
uploads/*

# OS / editor
.DS_Store
.idea/
.vscode/
